
body{
    background-image: url("main-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 20px;

}

a{
  color: #2F2734 !important;
  font-weight: bolder;
}

.mainHeading{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

h1{
  color:#6275A8;
}

img{
  width: 200px;
  height: 200px;
}


.row{
  margin: auto auto;
}

.imgCard{
margin: 20px 20px;
background: rgba(0, 0, 0, 0.7);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
border: 1px solid rgba(0, 0, 0, 0.21);
}


.glossyEffect{
  background: rgba(255, 255, 255, 0.31);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 1);
}





h1{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.card-header{
  color: #A6B7BF !important;
}

.card-text{
  color: #73AED9;
}
